@inherits LayoutComponentBase

<PageTitle>TDSabado</PageTitle>

<header>
    <div class="headercontainer">
        <h1>TDSabado</h1>
        <a href="/login" style="color: white;">Logar</a>
    </div>
</header>
<main>
    @Body
</main>