.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.navigation a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 1em;
}

.navigation a:hover {
    background-color: blueviolet;
}

header {
    background-color:deepskyblue;
    color: white;
}

.headercontainer {
    padding-left: 2vw;
    padding-right: 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}