header {
    background-color:blueviolet;
    color: white;
}

main {
    flex: 1;
}

.headercontainer {
    padding-left: 2vw;
    padding-right: 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}