@inherits LayoutComponentBase

<PageTitle>TDSabado</PageTitle>

<header>
    <ul class="navigation">
        <li>
            <a href="/login">Logar</a>
        </li>
        <li>
            <a href="/about">Sobre Nós</a>
        </li>
        <li>
            <a href="/products">Loja</a>
        </li>
    </ul>
</header>
<main>
    @Body
</main>