@page "/login"

<p>
    <label>Nome Completo</label>
    <input type="text"/>
</p>

<p>
    <label>Senha</label>
    <input type="password"/>
</p>

<p>
    <label>Data de Nascimento</label>
    <input type="date"/>
</p>

<p>
    <label>Nome de Usuario</label>
    <input type="text"/>
</p>

<button onclick="@CreateAccount">
    Criar Conta
</button>

@code 
{
    public void CreateAccount()
    {
        
    }
}