.registercontainer {
    padding: 10px;
    background-color: cadetblue;
    border: 5px;
    border-color: black;
    border-radius: 5px;
}

.logincontainer {
    padding: 10px;
    background-color: cadetblue;
    border: 5px;
    border-color: black;
    border-radius: 5px;
}

.logregcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}